version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: reels-backend-prod
    env_file:
      - ./backend/.env
    restart: always
    ports:
      - "8000:8000"
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge
